<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-img src="/assets/logo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h4>
          Saiba qual melhor opção para abastecimento do seu carro.
        </h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Preço do álcool, ex: 1,90</ion-label>
          <ion-input type="number" [(ngModel)]="alcool"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Preço da gasolina, ex: 2,90</ion-label>
          <ion-input type="number" [(ngModel)]="gasolina"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-button expand="full" (click)="calcular()">Calcular</ion-button>
    
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-center">
          <h5>
            {{ resultado }}
          </h5>  
        </div>     
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
